<h1>CORS Test</h1>

<h3>Local URL</h3>
<input type="text" [(ngModel)]="localProtocol">://localhost:<input type="number" [(ngModel)]="localPort">/<input
  type="text" [(ngModel)]="localPath">/api/values/1
<button (click)="tryLocalGet()">Test GET to localhost</button>
<button (click)="tryLocalPut()">Test PUT to localhost</button>
<button (click)="tryLocalPost()">Test POST to localhost</button>
<button (click)="tryLocalDelete()">Test DELETE to localhost</button>
<hr>

<h3>Remote URL</h3>
<input type="text" [(ngModel)]="remoteProtocol">://<input type="text" [(ngModel)]="remoteHost">:<input type="number"
  [(ngModel)]="remotePort">/<input type="text" [(ngModel)]="remotePath">/api/values/1
<button (click)="tryRemoteGet()">Test GET to remote web API</button>
<button (click)="tryRemotePut()">Test PUT to remote web API</button>
<button (click)="tryRemotePost()">Test POST to remote web API</button>
<button (click)="tryRemoteDelete()">Test DELETE to remote web API</button>
<hr>
