<h1>CORS Test</h1>

<button (click)="tryGet()">Test GET to this server</button>
<button (click)="tryCrossOriginGet()">Test GET to other server</button>
<button (click)="tryPut()">Test PUT to this server</button>
<button (click)="tryCrossOriginPut()">Test PUT to other server</button>
<button (click)="tryPost()">Test POST to this server</button>
<button (click)="tryCrossOriginPost()">Test POST to other server</button>
<button (click)="tryDelete()">Test DELETE to this server</button>
<button (click)="tryCrossOriginDelete()">Test DELETE to other server</button>
